<template>
    <div>
        <Hero />
        <section class="section">
            <div class="container">
                <h1 v-if="band" class="title is-3">{{ band.name }} // {{ band.genre }}</h1>
                <div class="columns is-desktop" v-if="members">
                    <div class="column" v-for="member in members" v-bind:key="member.id">
                        <member-card :member="member" />
                    </div>
                    <div class="column" v-if="band">
                        <member-form :band="band" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from '@/components/Hero.vue'
    import MemberCard from '@/components/MemberCard.vue'
    import MemberForm from '@/components/MemberForm.vue'
    import {
        db
    } from '../firebaseconfig'

    export default {
        name: 'Band',
        components: {
            Hero,
            MemberCard,
            MemberForm
        },
        data() {
            return {
                band: null,
                members: [],
            }
        },
        methods: {
            async getBand(id) {
                let data = ''

                await db.collection('bands').doc(id).get().then(doc => {
                    data = {
                        id: doc.id,
                        ...doc.data()
                    }
                })

                this.band = data
            }
        },
        created() {
            this.getBand(this.$route.params.id)

            db.collection('members').where('band_id', '==', this.$route.params.id).onSnapshot(doc => {
                const changes = doc.docChanges()

                changes.forEach(change => {
                    if (change.type === 'added') {
                        this.members.push({
                            id: change.doc.id,
                            ...change.doc.data()
                        })
                    }

                    if (change.type === "removed") {
                        const doc = this.members.indexOf(change.doc.id)
                        this.members.splice(doc, 1)
                    }
                })
            })

        }
    }
</script>