<template>
  <div>
    <Hero />
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column" v-for="band in bands" v-bind:key="band.id">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="http://placeimg.com/96/96/any">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ band.name }}</p>
                    <p class="subtitle is-6">{{ band.genre }}</p>
                  </div>
                </div>
                <div class="content">
                  <p>
                    {{ band.description }}
                  </p>
                  <br>
                  <time :datetime="band.created_at">{{ band.created_at.toDate() }}</time>
                </div>
                <footer class="card-footer">
                  <router-link :to="'/band/' + band.id" class="card-footer-item has-text-success">Examine</router-link>
                  <a class="card-footer-item has-text-danger" @click="deleteBand(band.id)">Delete</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="column">
            <Band-form />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Hero from '@/components/Hero.vue'
  import BandForm from '@/components/BandForm.vue'
  import {
    db
  } from '../firebaseconfig'

  export default {
    name: 'home',
    components: {
      Hero,
      BandForm
    },
    data() {
      return {
        bands: []
      }
    },
    methods: {
      async getBands() {
        let data = []

        await db.collection('bands').get().then((querySnapshot) => {
          querySnapshot.forEach(doc => data.push({
            id: doc.id,
            ...doc.data()
          }))
        })

        this.bands = data
      },
      async deleteBand(id) {
        await db.collection('bands').doc(id).delete()

        this.$notify({
          group: 'item-changed',
          type: 'error',
          title: 'Removed Band',
          text: 'As all bands, nothing lasts forever.'
        });
      }
    },
    created() {
      db.collection('bands').onSnapshot(doc => {
        const changes = doc.docChanges()

        changes.forEach(change => {
          if (change.type === 'added') {
            this.bands.push({
              id: change.doc.id,
              ...change.doc.data()
            })
          }

          if (change.type === "removed") {
            const doc = this.bands.indexOf(change.doc.id)
            this.bands.splice(doc, 1)
          }
        })
      })
    }
  }
</script>