<template>
    <form @submit.prevent="createBand()" class="box">

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" v-model="band.name" placeholder="Band Name">
                <span class="icon is-small is-left">
                    <i class="fas fa-drum"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" v-model="band.genre" placeholder="Genre">
                <span class="icon is-small is-left">
                    <i class="fas fa-music"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <textarea class="textarea" rows="5" v-model="band.description"
                    placeholder="Write a description of your band!"></textarea>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button type="submit" class="button is-info is-fullwidth" :class="{ 'is-loading': loading }">
                    Create Band
                </button>
            </p>
        </div>
    </form>
</template>

<script>
    import {
        db
    } from '../firebaseconfig'

    export default {
        name: 'Bandform',
        data: () => {
            return {
                loading: false,
                band: {
                    name: '',
                    genre: '',
                    description: ''
                }
            }
        },
        methods: {
            async createBand() {
                this.loading = true

                await db.collection('bands').add({
                    name: this.band.name,
                    genre: this.band.genre,
                    description: this.band.description,
                    created_at: new Date()
                })

                this.$notify({
                    group: 'item-changed',
                    type: 'success',
                    title: 'Band Created',
                    text: 'You have created a band successfully, well done!'
                });

                this.loading = false

                this.band.name = '',
                this.band.genre = '',
                this.band.description = ''
            }
        }
    }
</script>