<template>
    <section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <router-link to="/">
            <h1 class="title">
                <img src="@/assets/logo.png" alt="Band Creator">
            </h1>
            </router-link>
            <h2 class="subtitle">
                When all you got is imagination!
            </h2>
        </div>
    </div>
    </section>
</template>

<script>
export default {
    name: 'Hero'
}
</script>