<template>
    <form @submit.prevent="createMember()" class="box">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Name" v-model="member.name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="number" placeholder="Age" v-model="member.age">
                <span class="icon is-small is-left">
                    <i class="fas fa-address-card"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Pseudonyme" v-model="member.pseudonym">
                <span class="icon is-small is-left">
                    <i class="fas fa-at"></i>
                </span>
            </p>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Instrument:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select v-model="member.instrument">
                                <option selected disabled>Select Instrument</option>
                                <option>Guitar</option>
                                <option>Bas</option>
                                <option>Drums</option>
                                <option>Keyboard</option>
                                <option>Kazooe</option>
                                <option>Turntables</option>
                                <option>Flute</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="button is-success is-fullwidth" :class="{ 'is-loading': loading }">Add Member</button>
    </form>
</template>

<script>
    import { db } from '../firebaseconfig'

    export default {
        name: 'MemberForm',
        props: {
            band: Object
        },
        data() {
            return {
                loading: false,
                member: {
                    name: '',
                    age: null,
                    instrument: '',
                    pseudonym: '',
                    band_id: this.band.id
                }
            }
        },
        methods: {
            async createMember() {
                this.loading = true

                await db.collection('members').add({
                    name: this.member.name,
                    age: this.member.age,
                    instrument: this.member.instrument,
                    pseudonym: this.member.pseudonym,
                    band_id: this.member.band_id
                })

                this.loading = false

                this.$notify({
                    group: 'item-changed',
                    type: 'success',
                    title: 'Member Added',
                    text: 'You have added a valuable member to your band!'
                });

                this.resetForm()
            },
            resetForm() {
                this.member.name = ''
                this.member.age = null
                this.member.instrument = ''
                this.member.pseudonym = ''
            }
        }
    }
</script>