<template>
    <article class="media box">
        <figure class="media-left">
            <p class="image is-128x128">
                <img src="http://placeimg.com/128/128/people">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ member.pseudonym }}</strong>
                    <small> @{{ member.name }}</small>
                    <br>
                    <span class="tag is-dark is-medium">{{ member.instrument }}</span>
                    <br>
                    <span class="tag is-info">{{ member.age }} Years</span>
                </p>
            </div>
        </div>
        <div class="media-right">
            <button class="delete" @click="deleteMember(member)"></button>
        </div>
    </article>
</template>

<script>
    import {
        db
    } from '../firebaseconfig'
    export default {
        name: 'MemberCard',
        props: {
            member: Object
        },
        methods: {
            async deleteMember(member) {
                await db.collection('members').doc(member.id).delete()

                this.$notify({
                    group: 'item-changed',
                    type: 'error',
                    title: 'Member Removed',
                    text: 'You have shown a member the door!'
                });
            }
        }
    }
</script>